DATABASE_URL="postgresql://postgres:servitron123@localhost:5432/servitron"
NEXT_PUBLIC_API_URL="https://api.servitron.id"
SUPABASE_URL="https://uxdpgqlkdpyshywilfvv.supabase.co"
SUPABASE_ANON_KEY="your-anon-key"
